{% extends 'main/menu.html' %}
{% block content %}
{% load static %}

<div class="photo_about">
    <img src="{% static 'main/background_about.jpg' %}" alt="Фоновое изображение">
    <div class="box_about">
        <div class="header_about">
            Психолог, эмотолог
        </div>
        <div class="text_about">
            Климова Марина Александровна
        </div>
        <ul>
            {% for about in abouts %}
            <li>{{ about.title }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="about_content">
    <h2>
        Часто ли люди обращаются к психологам? С какими проблемами идут к вам?
    </h2>
    <p>
        Каждый психолог сам выбирает себе специализацию. Я специализируюсь на отношениях между мужчинами и женщинами,
        на отношении к себе, то есть решении проблем с устранением негативных бессознательных программ детства,
        повышению самооценки и развитию уверенности в себе.
    </p>
    <p>
        Все больше людей интересуются психологией, конечно, это больше женская аудитория. Но постепенно и мужчины
        начинают доверять психологии и обращаться к специалистам.
    </p>
    <h2>
        Почему люди расстаются и разводятся?
    </h2>
    <p>
        Я считаю, что основная проблема семейных пар в отсутствии образования в области семейной, гендерной психологии,
        отсутствие знаний, как строить отношения. Почему-то мы думаем, что отношения — то, чему не надо учиться, что
        всё сложится само собой.
    </p>
    <p>
        Мой любимый психолог Эрих Фромм в книге «Искусство любить» приводит интересный пример. Он сравнивает любовь с
        искусством игры на скрипке. Он говорит, что любить другого человека — не врождённая способность. Это навык.
        Ему надо учиться. Для того, чтобы научиться играть на скрипке, вы сначала ищите скрипку, учителя, несколько
        лет практикуетесь в игре. Когда вы научились играть, вам уже все равно, на каком инструменте это делать — вы
        это умеете и на скрипке за миллион долларов, и на скрипке за 10 долларов.
    </p>
    <p>
        Что же происходит сейчас? Большинство людей считает, что любовь связана с наличием надлежащего объекта: стоит
        найти другого человека, который тебе подходит, и сразу вспыхнет любовь, пробежит искра. Но это тогда похоже
        на то, когда человек думает: «не буду учиться играть на скрипке, мне нужно просто найти подходящий инструмент!
        Эти скрипки мне просто не подходят, но где-то в мире есть та самая, которую я возьму в руки и, не обучаясь
        игре, сразу заиграю красивую музыку». Очень красивая авторская аллегория.
    </p>
    <p>
        Чтобы научиться играть музыку любви, нужно учиться играть со всеми этапами, как мы осваиваем любой другой
        навык: когда учимся ходить или изучаем иностранный язык.
    </p>
    <p>
        Самая большая проблема семейных пар заключается в том, что они этого не понимают. Нужно учиться разговаривать,
        слушать, выходить из конфликтов, поддерживать, мотивировать, контролировать свои эмоции, учиться вместе
        мечтать и делать что-то. Любой тренинг в виде совместного ремонта показывает, что мы не умеем взаимодействовать
        друг с другом.
    </p>
    <p>
        Люди вступают в отношения совершенно неподготовленными, необразованными. Это похоже на то, как бы вас поставили
        выполнять работу хирурга, делать операцию на сердце совершенно без обучения. Что бы мы сделали в такой
        ситуации? Наверно, причинили бы много боли пациентам и страдали бы сами от этого. Вот тоже самое и происходит
        в жизни.
    </p>
</div>

{% endblock %}