{% if request.user.is_authenticated %}
<ul>
    <li><a href="{% url 'index' %}">Главная</a></li>
    <li><a href="{% url 'about' %}">О психологе</a></li>
    <li><a href="{% url 'session' %}">О сеансе</a></li>
    <li><a href="{% url 'blog:blogs' %}">Блог</a></li>
    <li><a href="{% url 'reviews' %}">Отзывы</a></li>
    <li><a href="#">Запись на прием</a></li>
    <li><a href="{% url 'contacts' %}">Контакты</a></li>
    <li class="username"><a href="{% url 'personal_account:profile_user' %}">{{ user.username }}</a></li>
</ul>
{% else %}
<ul>
    <li><a href="{% url 'index' %}">Главная</a></li>
    <li><a href="{% url 'about' %}">О психологе</a></li>
    <li><a href="{% url 'session' %}">О сеансе</a></li>
    <li><a href="{% url 'blog:blogs' %}">Блог</a></li>
    <li><a href="{% url 'reviews' %}">Отзывы</a></li>
    <li><a href="#">Запись на прием</a></li>
    <li><a href="{% url 'contacts' %}">Контакты</a></li>
    <li><a href="{% url 'personal_account:login' %}">Личный кабинет</a></li>
</ul>
{% endif %}